@charset "utf-8";

input[type="text"] {
	display:block;
    width:300px;
    height: 35px;
    line-height: 35px;
    margin: 30px auto;
    box-sizing: border-box;
    padding-left: 4px;
    border-radius: 4px;
    border:1px solid #ccc;
    outline: 0;
    box-shadow: 0 0 5px #ccc;
}
.list {
	width: 400px;
	margin: 0 auto;
	.item {
		position: relative;
	    padding: 10px 0;
	    border-bottom: 1px solid #cccccc;
	}
	.item :last-child {
		border-bottom: none;
	}
	.showNum {
		text-align: right;
		span {
			font-size: 14px;
			color: red;
		}
	}
	.check {
		text-decoration: line-through;
		color: #ccc;
	}
	.delete {
		background: red;
	    text-decoration: none;
	    position: absolute;
	    right:0;
	    font-size: 12px;
	    border: 0;
	    outline: 0;
	    padding: 2px 5px;
	    border-radius: 5px;
	    color: #fff;
	    cursor: pointer;
	}
}